body{

	font-family: 'Oleo Script', cursive;
	background-size:cover;
	text-align: center;

}
.alrawaj{
	margin: 100px auto;
font-size: 1.5em;
color: #812505;
}
.layout
{
position: absolute;
background-color: #070c0c47;
width: 100%;
top: 0;
}

 .lg-container{
	width:329px;
	margin:100px auto;
	padding:20px 40px;
	border:1px solid #f4f4f4;
	background:rgba(255,255,255,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
}
.lg-container h1{
	font-size:40px;
	text-align:center;
}
.lg-form > div {
	margin:10px 5px;
	padding:5px 0;
}
.lg-form label{
	display: none;
	font-size: 20px;
	line-height: 25px;
}
.lg-form input
{
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	padding: 5px;
	font-size: 16px;
	line-height: 20px;
	position: relative;
	width: 100%;
	font-family: 'Oleo Script', cursive;
	text-align:center;
}
.lg-form div:nth-child(3) {
	text-align:center;
}
.lg-form button{
  background-color: rgba(0,0,0,.075);
  position: relative!important;
  overflow: hidden;
	font-family: 'Oleo Script', cursive;
	font-size: 18px;
	border:1px solid #000;
	padding:5px 25px;
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;

	-webkit-box-shadow: 2px 1px 1px #aaa;
	-moz-box-shadow: 2px 1px 1px #aaa;
	cursor:pointer;
}


.lg-form button .first{
  background-color:#343a40f5;
    position: fixed;
    color: #fff;
    width: 100%;
    left: 0;
    top: 0;
    height: 0%;
    display: block;
    position: absolute;
    z-index:2;

}
.lg-form button .first .over-login{
	display: none;
	 line-height: 1.5;
}

.lg-form button .last{
  position: relative;
  z-index: 1;
}
.password i{
	position: absolute;
	    z-index: 2;
	    top: 288px;
	    cursor: pointer;
	    margin-left: 208px;
			display: none;
}
.fa-eye-slash{
	display: none;
}
.my-alert
{
	  position: absolute;
    top:191px;
    right: 39%;
    color: #870d26;
    font-size: large;
}
.success_layout{
	  height: 578px;
		position: absolute;
		width: 100%;
		background: #1e2d28e6;
		top: 0;
		right: 0;
		left: 0;
		z-index: 999999999999;
}
.success
{
		margin: 150px auto;
	 width: 30%;
	 background-color: #009675a3;
	 padding: 50px;
	 text-align: center;
	 color: #813c0b;
	 border-radius: 10%;
	 font-size: larger;
}
.add_ok{
			padding: 3px;
			width: 67px;
			border-radius: 10%;
			border: 1px solid #1e1e1ee3;
			background-color: #081c0e29;
}
.add span i{    color: #33ae90;}
.add {
	float: right;
	font-weight: bold;
margin-right: 17px;
font-size: larger;
color: #e55507;
border: 1px solid rgba(0,0,0,.075);
padding: 9px;
background-color: #e8dfc4;
border-radius: 20%;
position: relative;
cursor: pointer;
margin-top: -47px;
}
.over-add{
		width: 0px;
		height:45px;
		background-color: #6c757dd4;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		border-radius: 20%;
		cursor: pointer;
		text-align: center;

}
.over-add  i{
	font-size: xx-large;
		color: #17b889;
		display: none;
				line-height: 1.5;
}
